<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">404</h1>
        <p class="lead">
            {{ "The page you requested could not be found." | t }}
        </p>
    </div>
</div>